
.icon-mail:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e801'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */